.body {
    background-image:url(../../images/background.jpg);
    margin-left: 30px;
    margin-right: 30px;
	font-size: 12px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}