
.search__search-input {
	color: #7c7c7c;
  border: 2px solid #9174ce;
  border-radius: 5px 0 0 5px;
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    letter-spacing: 0.7px;
		box-sizing: border-box;
    min-width: 250px;
    width: 90%;
    padding: 9px 100px 9px 16px;
    transition: all 500ms ease 0s;
}

@media all and (max-width:1000px) {
  .search__search-input {
	transform: translate(5px,-15px);
  }
}

@media all and (max-width: 700px) {
  .search__search-input {
    width: 75%;
  }
}

@media all and (max-width: 400px) {
  .search__search-input {
    min-width: unset;
    width: 45vw;
  }
}